##################################################################
##
#
# KEYWORDS:  $RCSfile: makefile.Linux.config,v $
#            $Revision: 1.1.1.1 $
#            $Date: 2001/01/24 22:46:46 $
#            $Author: ahglim $
#
#------------------------------------------------------------------
#
# HISTORY:
#
# $Log: makefile.Linux.config,v $
# Revision 1.1.1.1  2001/01/24 22:46:46  ahglim
# Initial import
#
#
#
###################################################################


ENDIANFLAG = -DCWP_LITTLE_ENDIAN

OPTC = -O 

cc = gcc

CFLAG = $(OPTC) $(ENDIANFLAG) -DLinux

CLIB =

AR = ar rv


